{% set route = routes[relative_url] %}

{% if route.type === 'collection' %}
  {% set path = route.path %}
  {% if path === '/' %}
    {% set path = route.item_type | append('/index') %}
  {% else %}
    {% set path = route.item_type | append(route.path) %}
  {% endif %}
  {% set collection_template_path = path | prepend('templates/') | append('.html')  %}
  {% include collection_template_path %}
{% elseif route.type === 'page' %}
  {% set page_type = current_page.meta.page_type.data.id %}
  {% set page_template_path = page_type | prepend('templates/') | append('.html')  %}
  {% include page_template_path %}
{% endif %}

{{route | json}}