{% set categories = 'items' | resource('type=blog-post-category') %}
{% set category_path = current_route.page_path + '/category/' %}

<!-- Categories -->
{% if categories.length %}
<h1 class="title-block second-child">Kategorier</h1>
<ul class="categories margin-bottom-30">
  {% for category in categories %}
    {% set category_url = category_path + category.attributes.slug %}
    <li{% if url === category_url %} class="active"{% endif %}>
      <a href="{{category_url}}">{{category.attributes.title}}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}